<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogToConsole="true">

  <variable name="LogDir" value="${basedir}/logs/" />
  <variable name="ApplicationName" value="${appdomain:format={1\}}" />

  <!-- Enable ASP.NET Core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.DiagnosticSource"/>
  </extensions>

  <targets async="true">
    <target xsi:type="Console" name="applicationLog"
            layout="app: ${longdate:universalTime=true} ${level:uppercase=true:padding=-5} [OperationName: ${activity:property=Baggage:item=OperationName}] [ParentSpanId: ${activity:property=ParentId}] [SpanId: ${activity:property=SpanId}] [Logger: ${logger}] ${message} ${exception:format=tostring:trimWhiteSpace=true}" />
    <target xsi:type="Console" name="webHostLog"
              layout="web: ${longdate:universalTime=true}|${uppercase:${level}}|${activity:property=ParentId}|${activity:property=SpanId}|${message} ${exception:format=tostring:trimWhiteSpace=true}" />
  </targets>

  <rules>
    <!-- Microsoft logs -->
    <logger name="Microsoft.AspNetCore.Hosting.*" minLevel="Info" writeTo="webHostLog" final="true"/>
    <!--Skip some log messages -->
    <logger name="Microsoft.*" maxLevel="Debug" final="true" />
    <!-- Log the rest -->
    <logger name="*" writeTo="applicationLog" />
  </rules>

</nlog>
